.search {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-flow: column;
    font-family: $font-source;
    margin: 20px 10px;
    text-align: center;
}

.info {
    text-align: center;
    font-size: 42px;
    font-weight: 100;
}

.form {
    display: flex;
    justify-content: center;
    align-self: center;
}

.icon {
    position: absolute;
    top: 15%;
    right: 5%;
    color: rgba(70, 142, 219, 0.4);
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    outline: none;
    transition: all 100ms ease-in-out;
    font-family: $font-source;
    font-size: 20px;
    color: $color-main;
    font-weight: 100;
    width: 500px;
    height: 50px;
    position: relative;
    background: transparent;

    &:hover,
    &:active,
    &:focus {
        border: 1px solid $color-link;
    }
}

.find {
    position: relative;
}

.send {
    background: rgba(70, 142, 219, 0.8);
    border: 0;
    padding: 10px;
    color: #fff;
    font-family: $font-source;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    line-height: 1;
    transition: all 150ms ease-in;

    &:hover,
    &:active,
    &:visited,
    &:focus {
        outline: none;
        background: rgba(70, 142, 219, 1);
    }
}