// -------------------------
// FONTS
// -------------------------

$font-source: 'Source Sans Pro', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;

// -------------------------
// COLORS
// -------------------------

$color-link: #468edb;
$color-main: #5f5f5f;