// -------------------------
// FONTS
// -------------------------

$font-source: 'Roboto Mono', monospace;
$font-roboto: 'Roboto', Arial, sans-serif;

// -------------------------
// COLORS
// -------------------------

$color-link: #468edb;
$color-main: #362f3e;